Hexchat sends non-standard server name in TLS HELLO, standards-compliant server closes connection

RFC 6066 section 3 states that the server name argument (SNI extension) cannot be a literal IPv6 and must be plain ASCII.

Hexchat disregards that and happily sends literal IPv6 addresses and IDNs as provided by the user without further checks. A standards-compliant ircd, such as UnrealIRCd built against LibreSSL, will properly rejects such arguments as illegal, causing the handshake to fail and the connection to abort.

I suggest that when the host to connect to cannot be translated into an RFC-compliant SN, Hexchat should _NOT_ send any SN to avoid this problem.

It is set here: https://github.com/hexchat/hexchat/blob/90c91d6c9aa048eff8f8f8f888d37a21fd714522/src/common/server.c#L520

Patches welcomed for figuring out if its a valid hostname and not setting it.